<form class='addavatar'>
  <h1>Profile Picture</h1>
  {{link-to 'Next' 'profile.dates' class='next'}}

  {{#if currentUser.imgURL}}
    <img class='imgavatar' {{bind-attr src=currentUser.imgURL}} />
    <button class='btn btn-warning' {{action 'addAvatar'}}><i></i>Change Photo</button>
  {{else}}
    <button class='btn btn-warning' {{action 'addAvatar'}}><i></i>Add Photo</button>
  {{/if}}

  <button class='btn btn-info' {{action 'updateProfile'}}>Update</button>
</form>
