<form class='add-avatar'>
  <h1>Profile Picture</h1>

  {{#if currentUser.imgURL}}
    <img class='img-avatar' {{bind-attr src=currentUser.imgURL}} />
    <button class='btn btn-warning' {{action 'addAvatar'}}><i></i>Change</button>
  {{else}}
    <div class='img-container'></div>
    <button class='btn btn-warning' {{action 'addAvatar'}}><i></i>Add Photo</button>
  {{/if}}

  <button class='btn btn-info' {{action 'updateProfile'}}>Update</button>
</form>
