<form class='add-aversions'>
  <label>Add Aversion</label>
  {{link-to 'Back' 'profile.interests'}}
  {{link-to 'Next' 'profile.sizes'}}
  {{input type='string' class='create-user-input' value=aversionText placeholder='aversion'}}
  <button class='btn btn-info'{{action 'addAversion'}}>Add Aversion</button>
</form>

<form class='aversions'>
  {{#each currentUser.aversions itemController='aversion'}}
  <li>
    {{aversionText}}
  </li>
    <button {{action 'removeAversion'}}>Delete Item</button>
  {{/each}}
</form>
