<form class='add-aversions'>
  <h2>Add Aversion</h2>
  {{link-to 'Back' 'profile.interests' class='back'}}
  {{link-to 'Next' 'profile.sizes' class='next'}}
  {{input type='string' class='create-user-input' value=aversionText placeholder='aversion'}}
  <button class='btn btn-info'{{action 'addAversion'}}>Add Aversion</button>
</form>

<form class='aversions'>
  {{#each currentUser.aversions itemController='aversion'}}
  <li>
    {{aversionText}}
    <button {{action 'removeAversion'}}>X</button>
  </li>
  {{/each}}
</form>
