{{input type='string' class='create-user-input' value=aversionText placeholder='aversion'}}
<button class='btn btn-info'{{action 'addAversion'}}>Add</button>
{{#each currentUser.aversions itemController='aversion'}}
  <li>{{aversionText}}
    <button class='btn btn-danger'{{action 'removeAversion'}}>X</button>
  </li>
{{/each}}




{{link-to 'interests' 'profile.interests'}}
{{link-to 'sizes' 'profile.sizes'}}
{{link-to 'swag' 'swag'}}
