{{input type='string' class='create-user-input' value=currentUser.interest placeholder='interest'}}

<button class='btn btn-info'{{action 'updateProfile'}}>Update</button>

{{link-to 'Dates' 'profile.dates'}}
{{link-to 'Aversions' 'profile.aversions'}}
{{link-to 'swag' 'swag'}}
