<form class='add-interests'>
  <h2>Add Interest</h2>
  {{link-to 'Back' 'profile.dates' class='back'}}
  {{link-to 'Next' 'profile.aversions' class='next'}}
  {{input type='string' class='create-user-input' value=interestText placeholder='interest'}}
  <button class='btn btn-info'{{action 'addInterest'}}>Add Interest</button>
</form>

<form class='interests'>
  {{#each currentUser.interests itemController='interest'}}
    <li>
      {{interestText}}
      <button {{action 'removeInterest'}}>X</button>
    </li>
  {{/each}}
</form>
