<form class='addsizes'>
  <h2>Your Sizes</h2>

{{link-to 'Back' 'profile.aversions' class='back'}}
{{link-to 'Next' 'swag' class='next'}}

  <label>Hat Size</label>
  {{input type='string' class='create-user-input' value=currentUser.hatSize placeholder='hat size'}}
  <label>Shirt Size</label>
  {{input type='string' class='create-user-input' value=currentUser.shirtSize placeholder='shirt size'}}
  <label>Pant Size</label>
  {{input type='string' class='create-user-input' value=currentUser.pantSize placeholder='pant size'}}
  <label>Shoe Size</label>
  {{input type='string' class='create-user-input' value=currentUser.shoeSize placeholder='shoe size'}}

  <button class='btn btn-info'{{action 'updateProfile'}}>Update</button>
</form>
