{{input type='string' class='create-user-input' value=currentUser.hatSize placeholder='hat size'}}
{{input type='string' class='create-user-input' value=currentUser.shirtSize placeholder='shirt size'}}
{{input type='string' class='create-user-input' value=currentUser.pantSize placeholder='pant size'}}
{{input type='string' class='create-user-input' value=currentUser.shoeSize placeholder='shoe size'}}

<button class='btn btn-info'{{action 'updateProfile'}}>Update</button>

{{link-to 'aversions' 'profile.aversions'}}
{{link-to 'swag' 'swag'}}
