<form class='friends'>
  <button class='btn btn-info'{{action 'findFriends'}}><i></i>Find Friends</button>

  {{#each arrangedContent itemController='FriendsItem'}}
      <ul>
        <li>
          <img class='imgAvatar' {{bind-attr src=imgURL}} />
          <div class='info'>
            <span>{{username}}</span>
            {{link-to '''friends.show' this class='octicon octicon-eye'}}
            <a class='octicon octicon-trashcan'{{action 'removeFriend'}}></a>
          </div>
        </li>
      </ul>
  {{/each}}
</form>
