<form class=friends-profile>

  <section class='section hidden'>
    <p class='level-one'><a class='drop-dates'>IMPORTANT DATES</a></p>

  </section>

  <section class='section'>
    <p class='level-one'><a class='drop-sizes'>SIZES</a></p>

  </section>

  <section class='section'>
    <p class='level-one'><a class='drop-interests'>INTERESTS</a></p>

  </section>

  <section class='section'>
    <p class='level-one'><a class='drop-aversions'>AVERSIONS</a></p>
        </section>

</form>

<div class=friends-show-template>

  <h2 class='username'>{{content.username}}'S PREFERRED SWAG</h2>

{{#each this.content.swagbag}}
  <form class='friends-swagbag'>


    <div class='image'>

        <img class='imgswag' {{bind-attr src=swagURL}} />
        <ul>
          <li>{{description}}</li>
          <li class='data'>{{retailer}}</li>
          <li class='data'>{{location}}</li>
          <li class='data'>{{price}}</li>

        </ul>

    </div>
  </form>
{{/each}}
</div>
