<div class='header'>
  <a href=# class="octicon octicon-gist-secret" {{action 'goToSwag'}}>
    <span class='navigation text'>MY SWAG</span>
  </a>

  <a href=# class="octicon octicon-organization" {{action 'goToFriends'}}>
    <span class='navigation text'>FRIENDS</span>
  </a>

  <a href=# class='octicon octicon-gear' {{action 'goToProfile'}}>
    <span class='navigation text'>SETTINGS</span>
  </a>

  <a href=# class="octicon octicon-sign-out" {{action 'logOut'}}>
    <span class='navigation'>SIGN OUT</span>
  </a>
</div>

<div class='app-outlet'>
    {{outlet}}
</div>
