<form class='search'>

  <button class='btn btn-info'{{action 'viewFriends'}}><i></i>Back</button>

  {{#each arrangedContent itemController='SearchItem'}}
    <ul>
        <li>
          <img class='imgAvatar' {{bind-attr src=imgURL}} />
          <div class='info'>
            <span>{{username}}</span>
            <button class='flaticon flaticon-add70' {{bind-attr disabled=disabled }} {{action 'addFriend'}}></button>
            <!--<button class='icon octicon octicon-trashcan' {{bind-attr disabled=disabled }} {{action 'removeFriend'}}></button>-->
          </div>
        </li>
    </ul>
  {{/each}}
</form>
