<div class=swag-template>
  <form class='addswag'>
  <h3>Add Swag Bag Item</h3>

    <div class='image'>
      <img class='imgswag'{{bind-attr src=swagURL}} {{action 'addImage'}}/>
    </div>

    <div class='data'>
      {{input type='text' class='input description' value=description placeholder='Item Description'}}
      {{input type='text' class='input' value=retailer placeholder='Store'}}
      {{input type='text' class='input' value=location placeholder='Store Location'}}
      {{input type='text' class='input' value=price placeholder='Price'}}
      <button class='btn btn-success' {{action 'saveSwag'}}>ADD ITEM</button>
    </div>
</form>

{{#each currentUser.swagbag itemController='SwagItem'}}
  <form class='swagbag'>

    <h3>{{description}}</h3>
    <div class='image'>

        <img class='imgswag' {{bind-attr src=swagURL}} />
        <ul>

          <li class='data'>{{retailer}}</li>
          <li class='data'>{{location}}</li>
          <li class='data'>{{price}}</li>
          <li><button class='btn btn-danger'{{action 'removeSwag'}}>REMOVE ITEM</button></li>
        </ul>

    </div>
  </form>
{{/each}}
</div>
