<form class='addswag'>
  <h2>Add Swag Bag Items</h2>

    <div class='image'>
      <img class='imgswag'{{bind-attr src=swagURL}} {{action 'addImage'}}/>
    </div>

    <div class='data'>
      {{input type='text' class='input description' value=description placeholder='Item Description'}}
      {{input type='text' class='input' value=retailer placeholder='Store'}}
      {{input type='text' class='input' value=location placeholder='Store Location'}}
      {{input type='text' class='input' value=price placeholder='Price'}}
      <button class='btn btn-success' {{action 'saveSwag'}}>ADD ITEM</button>
    </div>
</form>

<form class='swagbag'>
  <h2>Current Swag Bag</h2>
  <div class='item'>
    {{#each currentUser.swagbag itemController='SwagItem'}}
      <img class='imgswag' {{bind-attr src=swagURL}} />
      <ul>
        <li class='data'>{{description}}</li>
        <li class='data'>{{retailer}}</li>
        <li class='data'>{{location}}</li>
        <li class='data'>{{price}}</li>
        <li><button class='btn btn-danger'{{action 'removeSwag'}}>REMOVE ITEM</button></li>
      </ul>
    {{/each}}
  </div>
</form>
