<h2>My Sweet Swag!</h2>


<img class='imgSwag'{{bind-attr src=swagURL}}/>
  <button {{action 'addImage'}}><i></i>Upload Image</button>

{{input type='text' class='swag-input' value=description placeholder='Item Description'}}
{{input type='text' class='swag-input' value=retailer placeholder='Store'}}
{{input type='text' class='swag-input' value=location placeholder='Store Location'}}
{{input type='text' class='swag-input' value=price placeholder='Price'}}

<button class='btn btn-success'{{action 'saveSwag'}}>SAVE ITEM</button>

{{#each currentUser.swagbag itemController='item'}}
  <li><img class='imgSwag' {{bind-attr src=swagURL}} /></li>
  <li>{{description}}</li>
  <li>{{retailer}}</li>
  <li>{{location}}</li>
  <li>{{price}}</li>
  <button class='btn btn-danger'{{action 'removeSwag'}}>X</button>
{{/each}}
